/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	 font-family: 'bebasregular';
	 background:#111;
}
/*---start-wrap----*/
.wrap{
	width:60%;
	margin:0 auto;
}
/*---start-header----*/
.logo{
	float:left;
}
.top-social-icons{
	float:right;
	margin-top: 0.5em;
}
.top-social-icons ul li{
	display:inline-block;
	float:left;
}
/* ---------- TIMER ---------- */
.timer_wrap{
	width:100%;
	text-align:center;
}
#counter {
	height:160px;
	font-size:60px;
	color: #FFF;
	overflow: hidden;
}
.timer{
	border-top:2px ridge #5F5F5F;
	border-bottom:2px ridge #5F5F5F;
}
.timer h4{
	font-size: 14px;
	color: #E5E5E5;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-top: 20px;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    display: inline-block;
    width: 106px;
    height: 100px;
    margin-left: 10px;
    border-radius: 5px;
}
.points {
	float: left;
	width:40px;
	margin: 0;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	line-height: 138px;
	text-shadow: none;
	color:#FFF;
    display: none;
}
.boxName {
	float: left;
	width: 100%;
	font-size: 15px;
	color: #000;
	font-style: italic;
	font-weight: 600;
	padding: 2px;
}
.countDays {
    background: #A7D802;
}
.countHours{
	background:#E9A300;
}
.countMinutes{
	background:#F4C400;
}
.countSeconds{
	background:#A12BB8;
}
/*---end-timer-----*/
/*---start-notified----*/

.notified{
	width: 60%;
	margin: 0 auto;
	margin-top: 2em;
	background:#FFF;
}
.notified input[type="text"]{
	width: 73.5%;
	padding:12px;
	color:#888;
	font-size:0.875em;
	 font-family: 'bebasregular';
	 border:none;
	 outline:none;
}
.notified input[type="submit"]{
	background:#000;
	padding: 12px 41px;
	border:none;
	color:#FFF;
	 font-family: 'bebasregular';
	 cursor:pointer;
	 transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.notified input[type="submit"]:hover{
	background:#555;
}
.notified form{
	text-align:center;
}
/*---start-content-----*/
.content{
	text-align:center;
	margin-top: 11em;
}
.content h1{
	font-size: 3.91em;
	color:#FFF;
}
.content p{
	font-size: 1.5em;
	color:#FFF;
	margin-top: 0.3em;
}
/*---start-copy-right-----*/
.copy-right{
	text-align:center;
	letter-spacing:0.1em;
	margin-top:1em;
}
.copy-right p{
	color:#FFF;
	font-size:0.875em;
	word-spacing: 0.2em;
}
.copy-right p a{
	color:#FFF;
	 transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.copy-right p a:hover{
	color:#000;
}
/*----responsive-design-----*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
	.content {
		margin-top: 6em;
	}
	.notified {
		width: 50%;
	}
	.notified input[type="text"] {
		width: 74.5%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}
	.content {
		margin-top: 6em;
	}
	.notified {
		width: 50%;
	}
	.notified input[type="text"] {
		width: 73.5%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap{
		width:90%;
	}
	.content {
		margin-top: 3em;
	}
	.notified {
		width: 50%;
	}
	.notified input[type="text"] {
		width: 65.5%;
	}
	.content h1 {
		font-size: 3.6em;
	}
	ul#countdown span {
		padding: 7px 30px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap{
		width:90%;
	}
	.content {
		margin-top: 6em;
	}
	.notified {
		width: 63%;
	}
	.notified input[type="text"] {
		width: 64.5%;
	}
	.content h1 {
		font-size: 2.6em;
	}
	ul#countdown span {
		padding: 7px 30px 0px 30px;
	}
	.content p {
		font-size: 1em;
		word-spacing:0.2em;
	}
	ul#countdown span {
		font-size: 3em;
	}
}
