body {
      background-image:url("enin9.github.io/ENIN9.COM/SiteWeb_1200px.jpg");
      background-color:white;
      background-position:top;
      background-repeat:no-repeat;
      width:auto;
      overflow-x:hidden;
}
  #bluetext1 {
    text-align:center;
    position:relative;
    top: 355px;
    font-family: "Helvetica";
    color:white;
    font-weight: normal;
  }
  #bluetext2 {
    text-align:center;
    position: relative;
    top: 335px;
    font-family: "Helvetica";
    color:white;
    font-weight: normal;
  }
  #middletext1 {
    text-align:center;
    position: relative;
    top:360px;
    font-family: "Helvetica";
    font-weight: bold;
    font-size:14pt;
  }
  #middletext2 {
    text-align:center;
    position: relative;
    top:345px;
    font-family: "Helvetica";
    font-weight: bold;
    font-size:14pt;
  }
  #bottomtext {
    text-align:center;
    position: absolute;
    top: 550px;
    left:43%;
    font-family: "Helvetica";
    font-weight:normal;
    font-size:16px;
  }
header{
  background:white;
  width:1920px;
  height:40px;
  margin:0 auto;
  position:fixed;
  top:-6px;
  overflow:hidden;
  font-family: "Helvetica";
  font-weight: normal;
  font-size:14px;
}
.toptext {
  float:left;
}
.toptext ul li {
  list-style:none;
  display:inline;
  text-align:center;
}
.toptext ul li a {
  text-decoration:none;
}
.copyright {
    margin-left:90px;
    margin-right:160px;
}
