body {
      background-image:url("../enin9.github.io/SiteWeb_1200px_short.jpg");
      background-color:white;
      background-position:top;
      background-repeat:no-repeat;
      width:auto;
      overflow-x:hidden;

}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: darkblue;
  text-decoration: none;
}
a:active {
  color: red;
  text-decoration: none;
}
  #bluetext1 {
    text-align:center;
    position:relative;
    top: 355px;
    font-family: "Arial";
    color:white;
    font-weight: normal;
  }
  #bluetext2 {
    text-align:center;
    position: relative;
    top: 335px;
    font-family: "Arial";
    color:white;
    font-weight: normal;
  }
  #middletext1 {
    text-align:center;
    position: relative;
    top:360px;
    font-family: "Arial";
    font-weight: bold;
    font-size:14pt;
  }
  #middletext2 {
    text-align:center;
    position: relative;
    top:345px;
    font-family: "Arial";
    font-weight: bold;
    font-size:14pt;
  }
  #bottomtext {
    text-align:left;
    font-family: "Arial";
    font-weight:normal;
    font-size:16px;
  }
header{
  background:white;
  width:1920px;
  height:40px;
  position:fixed;
  top:-6px;
  overflow:hidden;
  font-family: "Arial";
  font-weight: normal;
  font-size:14px;
  left: 50%;
  margin-left: -470px;
}
.toptext {
  float:left;
}
.toptext ul li {
  list-style:none;
  display:inline;
  text-align:center;
}
.toptext ul li a {
  text-decoration:none;
}
.copyright {
    margin-left:90px;
    margin-right:125px;
}
.bottom {
  text-align:center;
  width:100%;
  position:relative;
  left: 50%;

}

.bottom ul li {
  list-style:none;
  margin-left:-110px;
  position:absolute;
  top:348px;
}
.bottomimage{
  position:absolute;
  top:340px;
  left:-315px;
}

/* CSS de la page Device */
.bottomdevice{
  text-align:center;
  width:100%;
  position:relative;
  left: 50%;
}
.device1{
  position:absolute;
  top:450px;
  left:-280px;
}
.device2{
  position:absolute;
  top:590px;
  left:200px;
}
.device3{
  position:absolute;
  top:730px;
  left:-280px;
}
.device4{
  position:absolute;
  top:870px;
  left:200px;
}
#deviceblue {
  text-align:center;
  position:relative;
  top: 360px;
  font-family: "Arial";
  color:white;
  font-weight: normal;
  font-size: 38px;
}
#devicetitle {
  text-align:center;
  position: relative;
  top:410px;
  font-family: "Arial";
  font-weight: bold;
  font-size:14pt;
}
#device1{
  text-align:left;
  font-family: "Arial";
  font-weight:normal;
  font-size:16px;
  list-style:none;
  margin-left:-160px;
  position:absolute;
  top:450px;
}
#device2{
  text-align:right;
  font-family: "Arial";
  font-weight:normal;
  font-size:16px;
  list-style:none;
  margin-left:-210px;
  position:absolute;
  top:590px;
}
#device3{
  text-align:left;
  font-family: "Arial";
  font-weight:normal;
  font-size:16px;
  list-style:none;
  margin-left:-160px;
  position:absolute;
  top:730px;
}
#device4{
  text-align:right;
  font-family: "Arial";
  font-weight:normal;
  font-size:16px;
  list-style:none;
  margin-left:-210px;
  position:absolute;
  top:870px;
}


/* CSS pour la page de contact */
#contactblue {
  text-align:center;
  position:relative;
  top: 360px;
  font-family: "Arial";
  color:white;
  font-weight: normal;
  font-size: 38px;
}
#contacttitle {
  text-align:center;
  position: relative;
  top:410px;
  font-family: "Arial";
  font-weight: bold;
  font-size:14pt;
}
.email {
  text-align:center;
  width:100%;
  position:relative;
  left: 50%;
}
.emailimg {
  position:absolute;
  top:455px;
  left:-250px;
}
#steph{
  text-align:left;
  font-family: "Arial";
  font-weight:normal;
  font-size:16px;
  list-style:none;
  margin-left:-140px;
  position:absolute;
  top:450px;
}
#andre{
  text-align:left;
  font-family: "Arial";
  font-weight:normal;
  font-size:16px;
  list-style:none;
  margin-left:-140px;
  position:absolute;
  top:530px;
}
